* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
}

/* nav-start */
nav {
    height: 60px;
  width: 100%;
  position: fixed;
  overflow: clip;
  font-family: "poppins", san-serif;
  background-color: white;
  z-index: 5;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.nav-items {
  height: 60px;
  padding: 0 28px;
  display: flex;
  justify-content: space-between;
}

.nav-img {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.nav-img img {
  height: 32px;
  width: 142px;
}

.nav-items ul a:hover {
  color: #0058e7;
  background: #f5f7fa;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

nav ul a {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  font-size: 14px;
  padding: 30px 20px;
  color: black;
  font-family: "poppins";
  font-weight: 700;
}

nav ul li {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
}
.nav-button {
  box-sizing: border-box;
  display: flex;
  align-self: center;
}

.nav-button-container-text-img {
  display: flex;
  align-items: center;
  font-family: "Poppins";
  font-weight: 600;
  padding: 5px 5px;
  background: #fff;
  border: solid 1px #2b7bff;
  border-radius: 4px;
  color: #2b7bff;
  font-size: 12px;
  text-transform: uppercase;
}
.nav-button-container-text-img a {
  text-decoration: none;
  color: #2b7bff;
}

.fa-solid {
  color: black;
}

.nav-button-container-text-img i {
  align-items: center;
  font-size: 12px;
  color: #2b7bff;
  padding: 6px;
}

.hidden {
  display: none;
}
#products {
  background: #f5f7fa;
  color: #0483f9;
  font-weight: bold;
  text-decoration: none;
  border-color: #fff;
}

/* nav-end */

/* carsoul start */

.topbanner {
  padding-top: 60px;
  width: 100%;
  height: 75%;
}

.topbanner img {
  object-fit: contain;
  width: 100%;
  height: 75%;
}

.a {
  position: relative;
  display: block;
  width: 100%;
}

.shubham {
  position: absolute;
  top: 50%;
  left: 10%;
}

.shubham h1 {
  text-align: center;
  color: #fff;
  font-size: 60px;
  line-height: 68px;
  font-family: "Poppins";
  font-weight: 500;
}

.fa-play {
  width: 75px;
  height: 75px;
  font-weight: 900;
  font-size: 1.6rem;
  text-align: center;
  color: #2b7bff;
  border-radius: 50%;
  padding: 20px 15px;
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  background: rgba(45, 194, 214, 0.26);
}

.shubham-1 h1 {
  position: absolute;
  top: 50%;
  left: 3%;
  color: #fff;
  font-size: 60px;
  line-height: 68px;
  font-weight: 500;
  width: 100%;
}

.view a {
  position: absolute;
  padding: 10px 22px;
  border: 1px solid #2b7bff;
  border-radius: 4px;
  background: #fff;
  font-size: 15px;
  line-height: 18px;
  color: #2b7bff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.625px;
  top: 65%;
  left: 40%;
}

.view a:hover {
  color: #fff;
  background-color: #0483f9;
}

/* carsoul end */

.main-section {
  padding-top: 55px;
}

.main-section h3 {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: #1c1c1c;
  margin-bottom: 0;
}

.main-section p {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  color: #1c1c1c;
  letter-spacing: 0.15px;
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: 400;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100%;
  padding: 20px;
}

.single-card {
  width: 26%;
  margin: 10px;
  position: relative;
  display: block;
  background: #f4f9ff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  padding: 16px 15px;
  text-align: center;
  height: 100%;
}

.single-card h3 {
  font-size: var(--font-size-24px);
  line-height: 26px;
  margin-bottom: 15px;
  font-weight: 400;
}

.single-card p {
  font-weight: 500;
  font-size: var(--font-size-16px);
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.15px;
  color: #707070;
  padding-bottom: 40px;
}

.row-image img {
  border-radius: 8px;
}

.text {
  width: 88%;
  margin-left: 100px;
}

.text p {
  color: #8b97aa;
  font-size: 16px;
  line-height: 26px;
}

.text a {
  color: #0483f9;
}

.card-title {
  padding-top: 150px;
  padding-bottom: 40px;
}

.card-title h3 {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: #1c1c1c;
  margin-bottom: 0;
}

.card {
  width: 26%;
  margin: 10px;
  position: relative;
  display: block;
  height: 100%;
  background: #fff;
  border: 1.5px solid rgba(143, 144, 166, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 16px;
  color: #1c1c1c;
  text-align: left;
}

.profile_user {
  font-size: 16px;
  font-weight: 600;
  line-height: 38px;
  border-bottom: solid 1px #707070;
  padding-bottom: 16px;
}

.card p {
  margin-bottom: 0;
  font-size: 14px;
  padding-top: 16px;
}
.card h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;

  line-height: 22px;
  letter-spacing: 0.25px;
  color: #1c1c1c;
}

.tech {
  margin-bottom: 30px;
}

.apply_button {
  margin-top: 16px;
  padding: 10px 22px;
  border: 1px solid #2b7bff;
  border-radius: 4px;
  font-size: 15px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.625px;
  background: #fff;
  color: #2b7bff;
  transition: 0.5s;
}

.view-anchor {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.view-anchor a {
  padding: 10px 22px;
  border: 1px solid #2b7bff;
  border-radius: 4px;
  background: #fff;
  font-size: 15px;
  line-height: 18px;
  color: #2b7bff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.625px;
}

.bg-black {
  background-color: black;
  padding-top: 50px;
  padding-bottom: 100px;
}

.behind h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  padding-bottom: 50px;
}

.image-card {
  width: 26%;
  margin: 10px;
  height: 100%;
  border-radius: 8px;
  padding: 16px;
}

.image-card img {
  border-radius: 8px;
}

#owl-2 {
  display: none;
}

.imgae-card-deatil {
  display: none;
}

/* .image-card img:hover{
    z-index: 10;
    background-color: #0058e7;
    display: initial;
} */

.life {
  padding-top: 50px;
}

.life h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  padding-bottom: 50px;
}

.row-image {
  position: relative;
}

.row-image img {
  /* position: absolute; */
  width: 100%;
}

/* .galley-heading {
    position: absolute;
} */

.galley-heading {
  color: #fff;
  position: absolute;
  top: 80%;
  background-color: black;
  height: 60px;
  padding-top: 10px;
  width: 100%;
  opacity: 0.6;
}

.galley-heading h3 {
  margin-left: 30%;
}

/*footer start*/
footer {
  background-color: rgb(28, 28, 28);
  box-sizing: content-box;
}

.footer-1 {
  padding: 64px 0px 16px;
}

.footer-1-container {
  margin: 0 59.6px;
  display: flex;
}

.fl-1-para {
  color: #cccccc;
  font-family: Poppins, sans-serif;
  padding: 32px 20px 32px 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  font-size: 14px;
}

.fl-download-para,
footer a {
  text-decoration: none;
  color: #cccccc;
  font-family: "Poppins";
  font-weight: 600 !important;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1px;
  margin-bottom: 15px;
}

.btn {
  display: inline-block;
  height: 53px;
  width: 163px;
}

.btn img {
  height: 53px;
  width: 163px;
}

footer h4 {
  color: white;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1px;
  margin-bottom: 15px;
}

footer ul li {
  list-style-type: none;
  color: #cccccc;
  font-family: "poppins";
  font-weight: normal;
  font-size: 12px;
  line-height: 26.2px;
  letter-spacing: 0.4px;
  text-decoration: none;
  margin-right: 10px;
}

footer ul li:hover {
  color: #00aeca;
}

.btn {
  margin-right: 10px;
  transition: all 0.5s;
}

.top-spacing {
  padding-top: 20px;
}

.m-30 {
  margin: 30px 0;
}

.p-12 {
  padding-left: 12px;
  padding-right: 12px;
}

.footer-div-1 {
  width: 40%;
}

.footer-div-2 {
  width: 23%;
}

.footer-div-3 {
  width: 17%;
}

.footer-div-4 {
  width: 20%;
}

hr {
  border: 1px solid rgb(51, 51, 51, 0.7);
}

.footer-2-container img {
  margin: 16px;
}

.footer-2,
.footer-3 {
  padding: 32px 0;
}

.footer-2-container,
.footer-3-container {
  margin: 0 59.6px;
}

.footer-3-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-3-container p {
  color: #cccccc;
  font-family: poppins;
  font-weight: 400;
  line-height: 27px;
  font-size: 15px;
  padding: 5px;
}

.icon i {
  padding: 5px;
  color: rgb(101, 102, 108);
  font-size: 25px;
  margin-right: 2px;
}

footer i:last-child {
  margin-left: 20px;
}

.btn:hover {
  opacity: 0.7;
}

.icon a i:hover {
  color: rgba(6, 147, 227, 1);
}

/* media query */

@media screen and (max-width: 479px) {
  nav ul,
  .nav-button {
    display: none;
  }

  .hidden {
    display: initial;
    margin-top: 15px;
    font-size: 20px;
    text-align: center;
    color: rgb(0, 15, 59);
  }
  nav {
    width: 100vw;
    height: 60px;
  }
  .nav-items {
    width: 100%;
  }

  .shubham-1 h1 {
    font-size: 20px;
    line-height: 30px;
}
.view a {
  
  padding: 0;
    top: 82%;
    left: 16%;
}
  .main-section {
    padding-top: 0px;
  }
  .container {
    flex-wrap: wrap;
  }
  .single-card {
    width: 100%;
  }
  .text {
    width: 100%;
    margin-left: 30px;
  }
  .card-title h3 {
    font-size: 26px;
  }
  .card-title {
    padding-top: 50px;
    padding-bottom: 0px;
  }

  .card {
    width: 100%;
  }
  .image-card {
    width: 100%;
  }
  .image-card img {
    width: 100%;
  }
  #contain {
    display: none;
  }
  #owl-2 {
    display: initial;
  }

  .anuj img {
    width: 200px;
    height: 200px;
    margin: auto;
    border-radius: 8px;
    object-fit: cover;
  }

  .owl-carouseltop .anuj {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .behind h3 {
    font-size: 26px;
    line-height: 26px;
  }
  .life h3 {
    font-size: 20px;
    line-height: 22px;
    padding-bottom: 0px;
  }
  .galley-heading h3 {
    margin-left: 10%;
  }
  .galley-heading {
    top: 75%;
    height: 50px;
    padding-top: 10px;
  }

  .shubham {
    position: absolute;
    top: 30%;
  }

  .shubham h1 {
    font-size: 16px;
    line-height: 26px;
  }
     /* footer media  */

     footer {
      max-width: 786px;
  }

  .footer-1-container {
      display: flex;
      flex-direction: column;
  }

  .footer-1-container {
      margin: 15px;
  }
  .footer-div {
      width:100%;
    
    }
    .footer-div-1 {
      width: 100%;
  }
  
  .p-12 {
      padding-left: 0px;
      padding-right: 0px;
  }
  .m-30 {
      margin: 0px 0;
  }
  .fl-1-para {
      padding: 32px 20px 32px 8px;

      line-height: 28px;
     
  }
  .footer-div-2 {
      width: 100%;
      display: flex;
      justify-content: space-between;
      
  }
  .top-spacing {
      padding-top: 0px;
  }
  .footer-div-3 {
      width: 100%;
      display: flex;
      justify-content: space-between;
  }
  .footer-div-4 {
      width: 100%;
  }
  .footer-3-container {
      flex-wrap: wrap;
  }
  .footer-3-container p {
      
      line-height: 18px;
      font-size: 12px;
      padding: 7px;
  }
  footer i:last-child {
      margin-left: 0px;
  }
}
