@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Open+Sans:ital,wght@0,400;0,600;1,300;1,500;1,800&family=Poppins:wght@400;600;700&family=Space+Grotesk:wght@700&display=swap');

.nav-wrapper {
    position: relative;

}

/*sub-menu*/
.submenu-1,
.submenu-2,
.submenu-3,
.submenu-4,
.submenu-5 {
    display: none;
}

.payments a,
.banking a,
.lending a,
.consumer a {
    text-decoration: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

.submenu-1 li,
.submenu-2 li,
.submenu-4 li,
.submenu-5 li {
    display: inline-block;
    width: 100%;
    margin: 15px;
    border: 1px solid;
    padding: 10px;
    border-radius: 5%;
    background-color: #fff;
}

.submenu-2,
.submenu-3,
.submenu-4,
.submenu-5 {
    margin-left: 120px;
    transform: translate(30px, -30px);

}

.submenu-1 li:hover {
    cursor: pointer;
}

.submenu-2 .payments:hover .submenu-3 {
    display: block;
    position: absolute;
    width: 200px;
    z-index: 500;
    text-align: right;

}

.product-menu:hover .submenu-1 {
    display: flex;
    position: absolute;
    width: 200px;
    z-index: 500;
    text-align: right;

}

li.merchant:hover .submenu-2 {
    display: block;
    position: absolute;
    width: 200px;
    z-index: 500;
    text-align: center;

}

li.consumer:hover .submenu-2 {
    display: block;
    position: absolute;
    width: 200px;
    z-index: 500;
    text-align: center;

}

li.banking:hover .submenu-4 {
    display: block;
    position: absolute;
    width: 200px;
    z-index: 500;
    text-align: center;

}

li.lending:hover .submenu-5 {
    display: block;
    position: absolute;
    width: 200px;
    z-index: 500;
    text-align: center;
}

@media screen and (max-width:786px) {
    nav {
        position: static;
        font-family: 'poppins', san-serif;
        background-color: white;
        z-index: 5;
    }

    .nav-items {
        margin: 0;
        display: inline-block;
    }

    .nav-img img {
        height: 32px;
        width: 142px
    }

    nav ul {
        display: flex;
        width: fit-content;
        font-size: 14px;
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul li {
        padding: 20px;
        display: block;
        position: relative;
    }

    nav ul a {
        text-decoration: none;
        color: black;
        font-family: 'poppins';
        font-weight: 700;
    }

    .submenu-2,
    .submenu-3,
    .submenu-4,
    .submenu-5 {
        margin-left: 0;
        transform: translate(0, -15px);

    }

    .submenu-1 li:hover {
        cursor: pointer;
    }

    .submenu-2 .payments:hover .submenu-3 {
        display: block;
        position: relative;
        width: 200px;
        z-index: 500;
        text-align: right;

    }

    .product-menu:hover .submenu-1 {
        display: flex;
        position: relative;
        width: 200px;
        z-index: 500;
        text-align: right;

    }

    li.merchant:hover .submenu-2 {
        display: block;
        position: relative;
        height: max-content;
    }

    li.consumer:hover .submenu-2 {
        display: block;
        position: relative;
        width: 200px;
        z-index: 500;
        text-align: center;

    }

    li.banking:hover .submenu-4 {
        display: block;
        position: relative;
        width: 200px;
        z-index: 500;
        text-align: center;

    }

    li.lending:hover .submenu-5 {
        display: block;
        position: relative;
        width: 200px;
        z-index: 500;
        text-align: center;
    }



}

@media screen and (min-width:786px) and (max-width: 1167px) {
    nav ul li {
        margin: 16px;
    }

    .submenu-2 .payments:hover .submenu-3 {
        display: block;
        position: relative;
        width: 200px;
        z-index: 500;
        text-align: right;

    }

    .submenu-3 {
        margin-left: 0;
        transform: translate(0, -15px);

    }
}

/*sub-menu*/

body {
    background: white;
}

.main-container {
    position: relative;
    top: 60px;
    width: 80%;
    height: auto;
    margin: auto;
    text-align: center;
    border: none;
}

.contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.main-container h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: #1C1C1C;
    margin-bottom: 0;
}

.main-container p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .15px;
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: 600;
    color: #707070;
}

.company-details {
    width: 34%;
    text-align: left;
    margin-left: auto;
    margin-right: 60px;
}

.company-details-2 {
    width: 34%;
    text-align: left;
    margin-right: auto;
}

.text-container h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #2B7BFF;
    margin-bottom: 0;
    margin-top: 20px;
}

.text-container span {
    color: #2B7BFF;

}

.text-container {
    text-align: left;
    padding-left: 30px;
}

.space-10 {
    display: inline-block;
    width: 100%;
    height: 30vh;
}

@media screen and (max-width:786px) {
    footer {
        max-width: 786px;
    }

    .footer-1-container {
        display: flex;
        flex-direction: column;
    }

    .footer-1-container {
        margin: 0 59.6px;
    }
}

.footer-div {
    width: 100%;
}