@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Open+Sans:ital,wght@0,400;0,600;1,300;1,500;1,800&family=Poppins:wght@400;500;600;700&family=Space+Grotesk:wght@700&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}



nav {
    width: 100%;
    position: fixed;
    overflow: clip;
    font-family: 'poppins', san-serif;
    background-color: white;
    z-index: 5;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.nav-items {
    height: 60px;
    margin: 0 94.6px;

    display: flex;
    justify-content: space-between;
}

.nav-img {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.nav-img img {
    height: 32px;
    width: 142px
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 14px;

}

nav ul a {
    text-decoration: none;
    font-size: 14px;
    padding: 30px 20px;
    color: black;
    font-family: 'poppins';
    font-weight: 700;
}

nav ul a:hover {
    background: #f5f7fa;
    color: #0483f9;
    font-weight: bold;
    text-decoration: none;
    border-color: #fff;
}

nav ul li {
    text-decoration: none;
    list-style-type: none;
    margin: 0;


}

nav ul li a i {
    font-size: 14px;

}

#products {
    background: #f5f7fa;
    color: #0483f9;
    font-weight: bold;
    text-decoration: none;
    border-color: #fff;
}

.nav-button {
    box-sizing: border-box;
    padding: 0 20px;
    display: flex;
    align-self: center;
}

.nav-button-container-text-img {
    display: flex;
    align-items: center;
    font-family: 'Poppins';
    font-weight: 600;
    padding: 5px 4px;
    background: #fff;
    border: solid 1px #2B7BFF;
    border-radius: 4px;
    color: #2B7BFF;
    font-size: 12px;
    text-transform: uppercase;
}

.nav-button-container-text-img i {
    align-items: center;
    font-size: 12px;
    color: #2B7BFF;
}




.below-div-item {
    font-family: poppins;
    font-weight: 600;
    font-size: 13px;
    line-height: 17px;
    color: #4F4F4F;
}

.below-div-item:hover {
    color: #0483f9;
    cursor: pointer;
}

.below-nav {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #f4f9ff;
    z-index: 2;
    position: fixed;
    top: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.below-div-container {
    width: 894px;
    display: flex;
    margin: -6px 12px;
    justify-content: space-between;
}

.below-div-item {
    font-size: 13px;
    font-family: 'poppins';
    font-weight: 700;
    color: #4F4F4F;
}

.top {
    position: relative;
    min-height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    padding: 0;

}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 20px;
    margin: 0 289px;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.header img {
    display: inline-block;
    width: 50%;
}

.text {
    width: 50%;
    margin-right: 22px;
    padding-right: 30px;
}

.text h1 {
    font-size: 60px;
    font-family: 'poppins', sans-serif;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 1;
}

.text p {

    font-size: 16px;
    font-family: 'poppins';
    font-weight: 500;
    padding: 20px 0;
    color: #707070;
    letter-spacing: .15px;
}

/*section-2*/
.benifit {
    background-color: #ECF5FF;
    margin-top: 60px;
    padding: 64px 0;
}

h3 {
    display: block;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: #1C1C1C;
    text-align: center;
    line-height: 2;
}

.benifit h3 {
    padding-bottom: 48px;
}

.benifit-container {
    margin: 0 59.6px;
}

.cards {

    display: flex;
    flex-wrap: wrap;
    margin: 0 100px;
    justify-content: center;

}

.single-card {
    box-sizing: border-box;
    width: 33.33%;
    height: 100%;
    padding: 16px;
    text-align: center;
    background: transparent;
    padding: 16px;

}

.single-card p {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #1C1C1C;
    padding-top: 20px;
    line-height: 1.7;
}

.single-card .card {
    padding: 16px;
    border-radius: 10px;
    background-color: white;
    margin: 0 12px;
    padding-bottom: 70px;
}

span.terms-and-conditions {
    color: grey;
    font-size: 12px;
}




/*section-2*/
/*slider starts*/
.swiper-pagination-bullet {
    border: 2px solid white;
    padding: 7px;
}

.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical>.swiper-pagination-bullets {
    right: var(--swiper-pagination-right, 5%);

    .swiper-pagination-bullet-active {
        background: #65ffe3;
    }
}

.swiper {
    width: fit-content;
    height: 85vh;

}

/* slider-ends */
/*slider 1*/
.swiper-slide {
    text-align: center;
    margin: 0 59.6px;
    padding: 59.6px 0;

}

.slide-1-main {
    display: flex;
    flex-wrap: wrap;
    padding: 0 140px;
}

.slide-1-main-para {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    text-align: left;
    width: 50%;
}

h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #1C1C1C;
    margin-top: 16px;
    margin-bottom: 16px;
}

span.step {
    font-size: 14px;
    color: grey;
    font-family: 'Poppins';
    font-weight: 500;
}

/*slider 1*/
/*slider 2*/
.slider-2 {
    background-color: #1C1C1C;

}

.slide-2 {
    text-align: center;
}

.slide-2-main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 140px;

}

.slide-2-main-para {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-self: flex-start;
    text-align: left;
}

.slide-2 h3,
.slide-2 h4 {

    color: white;
    margin-bottom: 20px;
    margin-left: 1rem;
}

.slide-2-main-para {
    width: 53%;
}

.slide-2-main-img {
    width: 40%;
    text-align: right;
}

/*slider 2*/


/*contact container*/
.contact-container {
    margin: 55.6px;
    text-align: center;


}

.contact-container .contact {
    margin: 35px 160px;
    display: flex;
    box-shadow: 0 24px 48px rgba(0, 0, 0, 0.03), 0 8px 46px rgba(0, 0, 0, 0.06), 0 12px 16px rgba(0, 0, 0, 0.06);
    padding: 40px 50px;
    border-radius: 16px;
}

.contact-container .fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

}

.img-with-text {
    width: 33%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

#get-a-callback {
    max-width: 88px;
}

.img-with-text h1 {
    display: block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    color: #1C1C1C;
}

.fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: flex-end;
    width: 66%;
    margin: auto;
    padding: 10px;
}

.fields input[type="submit"] {
    border: none;
    margin-bottom: 0;
    background: #2B7BFF;
    box-shadow: 0 1px 2px rgba(44, 39, 56, 0.08);
    border-radius: 4px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #EBF4F8;
    padding: 15px 35px;
    margin: 0 10px 10px;

}

.fields input[type="text"] {
    border-radius: 10px;
    width: 43%;
    padding: 16px;
    border-radius: 10px;
    margin: 0 10px 10px;
    padding: 16px;
    border: 2px solid #cccccc;
}

.fields input[type="text"]:focus {
    background: rgba(179, 220, 235, .4);
}

::placeholder {
    font-size: 15px;
}

/*contact container*/
/*footer start*/
footer {
    background-color: rgb(28, 28, 28);
    box-sizing: content-box;
}

.footer-1 {
    padding: 64px 0px 16px;
}

.footer-1-container {
    margin: 0 59.600px;
    display: flex;

}



.fl-1-para {
    color: #cccccc;
    font-family: Poppins, sans-serif;
    padding: 32px 20px 32px 8px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    font-size: 14px;
}

.fl-download-para,
footer a {
    text-decoration: none;
    color: #cccccc;
    font-family: 'Poppins';
    font-weight: 600 !important;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: .1px;
    margin-bottom: 15px;
}

.btn {
    display: inline-block;
    height: 53px;
    width: 163px;
}

.btn img {
    height: 53px;
    width: 163px;
}

footer h4 {
    color: white;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: .1px;
    margin-bottom: 15px;

}



footer ul li {
    list-style-type: none;
    color: #cccccc;
    font-family: "poppins";
    font-weight: normal;
    font-size: 12px;
    line-height: 26.2px;
    letter-spacing: .4px;
    text-decoration: none;
    margin-right: 10px;

}

footer ul li:hover {
    color: #00AECA;
}

.btn {
    margin-right: 10px;
    transition: all .5s;
}

.top-spacing {
    padding-top: 20px;
}

.m-30 {
    margin: 30px 0;
}

.p-12 {
    padding-left: 12px;
    padding-right: 12px;
}

.footer-div-1 {

    width: 40%;
}

.footer-div-2 {
    width: 23%;
}

.footer-div-3 {
    width: 17%;
}

.footer-div-4 {
    width: 20%;
}

hr {
    border: 1px solid rgb(51, 51, 51, 0.7)
}

.footer-2-container img {
    margin: 16px;
}

.footer-2,
.footer-3 {
    padding: 32px 0;
}

.footer-2-container,
.footer-3-container {
    margin: 0 59.6px;
}

.footer-3-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-3-container p {
    color: #cccccc;
    font-family: poppins;
    font-weight: 400;
    line-height: 27px;
    font-size: 15px;
    padding: 5px;
}

i {
    padding: 5px;
    color: rgb(101, 102, 108);
    font-size: 25px;
    margin-right: 2px;

}

footer i:last-child {
    margin-left: 20px;
}

.btn:hover {
    opacity: .7;
}

.icon a i:hover {
    color: rgba(6, 147, 227, 1);
}